h1{
    color:blueviolet
}
h2{
    color:red
}

.header{
   background-color: #0fffff; 
   display: flex;
   justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f7a9f7;
 }

 .origami{
     background-color: #008cff;
 }

